body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  overflow-x: hidden;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
